<div style = "text-align:center">

    <form action="<%= album_url(@album.id) %>" method="post">
        <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
       
        <label>Name 
            <br><br>
            <input name="album[name]" value="<%=@album.name%>" >
        </label>
        
        <br> <br>
        
        <label>Year 
            <br><br>
            <input type="number"name="album[yr]" value="<%=@album.yr%>">
        </label>
        
        <br><br>
        
        <label>Band 
            <br><br>
            <select name="album[band_id]">
                <% Band.all.each do |band|%>
                <option <%= band.id.to_s == @album.band_id.to_s ? "selected" : "" %> value="<%=band.id%>"> <%= band.name %> </option>
                <%end%>
            </select>
        </label>
        
        <br> <br>
        <label> Recording Type 
        <br> <br>
        <input type="radio" name="album[recording_type]" value="0"> Studio
        <input type="radio" name="album[recording_type]" value="1"> Live
        </label>
        <br><br>




        <input type="submit" value="Save" class="login">
    </form>

</div>